body {
  margin: 40px !important;
  width: fit-content;
}

#root {
  border-radius: 8px;
  width: fit-content;
  padding: 2px;
}

.bardo__background {
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
  border-radius: 8px;
}
.bardo__card > div {
  padding: 0;
}
.bardo__card * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bardo__body {
  top: 0 !important;
  height: 100% !important;
  justify-content: center !important;
  align-items: center !important;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  overflow: visible;
  border-radius: 8px;
  padding: 0 10px !important;
  border-top-right-radius: 6px !important;
  border-top-right-radius: 6px !important;
}
.bardo__body h1 {
  text-align: center;
}
.bardo__body-avatar-container {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  user-select: none;
}
.bardo__body-avatar {
  position: relative;
  z-index: 1;
  user-select: none;
}
.bardo__body-avatar * {
  -webkit-user-drag: none;
  user-select: none;
}

.bardo__body-volume-slider p {
  color: #d8d8d8;
  user-select: none;
}

.bardo__body-volume-slider {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 301;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  background-color: black;
  cursor: pointer;
}

.bardo__body-volume-slider.hide {
  /* transform: translateY(200%); */
  top: 100%;
}
.bardo__body-volume-slider.show {
  /* transform: translateY(0); */
  top: 0;
}

.bardo__footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  user-select: none;
  flex-direction: column;
  background: linear-gradient(0deg, black, transparent);
  padding-bottom: 30px !important;
  height: 200px !important;
  justify-content: flex-end;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.bardo__footer-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 12px !important;
}
.bardo__footer-progress {
  background: linear-gradient(45deg, blueviolet, #ec1064);
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 8px;
  z-index: 0;
}
.bardo__footer .svg-icon {
  cursor: pointer;
}
